// Variáveis usadas nos temas

@import url('https://fonts.googleapis.com/css?family=Lato');

$body-color-bg: #ecf0f1;


$nav-width: 450px;
$nav-height: 75px;

// tema 1

$theme-1-bg: #3498db;
$theme-1-clr: #FFF;
$theme-1-brd: 2px solid #0f5686;

$theme-1-bghover: #0f5686;
$theme-1-clrhover: #3498db;


// tema 2

$theme-2-bg: #EB974E;
$theme-2-clr: #FFF;
$theme-2-brd: 2px solid #D35400;

$theme-2-bghover: #D35400;
$theme-2-clrhover: #FDE3A7;

// tema 3

$theme-3-bg: #16A085;
$theme-3-clr: #FFF;
$theme-3-brd: 2px solid #1E824C;

$theme-3-bghover: #1E824C;
$theme-3-clrhover: #36D7B7;
