@import "scss/variables.scss";
@import "navbar/theme.scss";

body {
    background-color: $body-color-bg;
}

nav {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $nav-width;
    height: $nav-height;
    margin-left: -($nav-width/2);
    margin-top: -($nav-height/2);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
    padding: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    .nav-brand {
        font-size: 40px;
        @extend %component;
    }
    ul {
        list-style: none;
        display: inline-flex;
        li {
            a {
                font-size: 20px;
                padding: 15px;
                @extend %component;
            }
        }
    }
}
